@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
#header > div > h1 {
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 600;
	margin-bottom: 3.5rem;
}
#header > div > p {
	font-size: 1.8rem;
}

/* upcoming-events */

#upcoming-events {
	overflow-x: hidden;
	position: relative;
	padding: 5rem 5rem;
}
.upcoming-events-heading {
	color: #003e6b;
	text-transform: uppercase;
	font-size: 2.5rem;
	position: relative;
	margin-left: 5rem;
	font-weight: 700;
	font-size: 2.4rem;
}
.upcoming-events-heading-line {
	position: absolute;
	transform: translate(-100%, -50%);
	left: -5px;
	top: 50%;
	width: 10rem;
	height: 3px;
	background-color: #55aad6;
}

.upcoming-events-lists{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;

}
.upcoming-events-ulist{
  text-align: center;
  list-style-type: none;
}
/* previous-events */
#previous-events {
	overflow-x: hidden;
	position: relative;
	padding: 5rem 5rem;
}
.previous-events-heading{
	float: right;
	color: #003e6b;
	text-transform: uppercase;
	font-size: 2.5rem;
	position: relative;
	margin-right: 10rem;
	font-weight: 700;
	font-size: 2.4rem;
}
.previous-events-heading-line {
	position: absolute;
	transform: translate(100%, -50%);
	right: -5px;
	top: 50%;
	width: 15rem;
	height: 3px;
	background-color: #55aad6;
}

