@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.navigation{
  padding: 10rem 0rem 6rem 0rem;
}
#header > div > h1 {
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 600;
	margin-bottom: 3.5rem;
}
#header > div > p {
	font-size: 1.8rem;
}

ion-icon {
	font-weight: 2px;
	color: black;
	padding: 8px 2px;
 }

#more {
	display: none;
}

.moreBtn{
	background-color: #b4e1fa;
}

.detail{
	font-size: 1.8rem;
	margin-bottom: 10px;
}
.detail p{
	padding: 0px 10px;
}

/*******************/
/* landing photos */
/*******************/
.composition {
    height: 300px;
 }
.composition_photo {
    width: 55%;
    position: absolute;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
    z-index: 10;
    transition: all .2s;
    outline-offset: 0.8rem; 
}
.composition_photo--p1 {
    top: 0rem;
    left: 1rem; 
}
.composition_photo--p2 {
    top: 3rem;
    right: 1rem;
 }
.composition_photo--p3 {
    top: 9rem;
    left: 20%; 
}
.composition_photo:hover {
    transform: scale(1.01);
    box-shadow: 0 2.5rem 2rem rgba(0, 0, 0, 0.5);
    z-index: 20;
    outline: 1rem solid #b4e1fa; 
}
.composition:hover .composition_photo:not(:hover) {
    transform: scale(0.95) translateY(-0.5rem);
 }

 
 /* media queries */
 @media only screen and (min-width: 768px) and (max-width: 991px){
	.composition {
		height: 400px;
		margin-top: 25px;
	 }
 }
 @media only screen and (min-width: 320px) and (max-width: 550px){
	.composition {
		height: 240px;
		margin-top: 25px;
	 }
	 .navigation{
		 padding: 10rem 0rem 5rem 0rem;
	 }
 }

