@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.navigation{
  padding: 10rem 0rem;
}
#header > div > h1 {
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 600;
	margin-bottom: 3.5rem;
}
#header > div > p {
	font-size: 1.8rem;
}
.back_button {
	background-color: #B4E1FA;
	height: 4.95rem;
	width: 4.95rem;
	border-radius: 50%;
	position: fixed;
	top: 4rem;
	left: 4.4rem;
	z-index: 2000;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
	text-align: center;
	cursor: pointer; 
}
ion-icon {
	font-weight: 2px;
	color: black;
	padding: 8px 2px;
 }
/*******************/
/* landing photos */
/*******************/
.composition {
    height: 300px;
 }
.composition_photo {
    width: 55%;
    position: absolute;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; 
}
.composition_photo--p1 {
    top: 0rem;
    left: 0; 
}
.composition_photo--p2 {
    top: 3rem;
    right: 0;
 }
.composition_photo--p3 {
    top: 11rem;
    left: 20%; 
}
.composition_photo:hover {
    transform: scale(1.01);
    box-shadow: 0 2.5rem 2rem rgba(0, 0, 0, 0.5);
    z-index: 20;
    outline: 1rem solid #b4e1fa; 
}
.composition:hover .composition_photo:not(:hover) {
    transform: scale(0.95) translateY(-0.5rem);
 }

 
 /* media queries */
 @media only screen and (min-width: 768px) and (max-width: 991px){
	.composition {
		height: 400px;
	 }
 }
 @media only screen and (min-width: 320px) and (max-width: 550px){
	.composition {
		height: 220px;
	 }
 }