/****************************************** navbar ******************************************/

.navigation_checkbox {
  display: none; }

.navigation_button {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation_button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation_button {
      top: 3rem;
      right: 3rem; } }

.navigation_background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 4.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#007cba, #0274be);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation_background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation_background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation_nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation_item {
  margin: 1rem;
  overflow: hidden;
}

.navigation_link:link, .navigation_link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  padding: 1rem 2rem;
  background-size: 220%;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  transition: all .4s; }
  .navigation_link:link span, .navigation_link:visited span {
    display: inline-block;
    margin-right: 1.5rem; }

.navigation_link:hover, .navigation_link:active {
  transform: translateX(1rem);
  color: #0274be;
  background-position: 100%; 
}

.navigation_checkbox:checked ~ .navigation_background {
  transform: scale(80); }

.navigation_checkbox:checked ~ .navigation_nav {
  opacity: 1;
  width: 100%; }

.navigation_icon {
  position: relative;
  margin-top: 2.5rem; }
  .navigation_icon, .navigation_icon::before, .navigation_icon::after {
    height: 2px;
    width: 2.5rem;
    display: inline-block;
    background-color: #333; }
  .navigation_icon::after, .navigation_icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation_icon::before {
    top: -.8rem; }
  .navigation_icon::after {
    top: .8rem; }

.navigation_button:hover .navigation_icon::before {
  top: -1rem; }

.navigation_button:hover .navigation_icon::after {
  top: 1rem; }

.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent; }

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  top: 0;
  transform: rotate(-135deg); }
/****************************************** footer ******************************************/
.footer{
  text-align: center;
  padding: 50px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #f9f9f9;
}
.footer-p1{
  width: 70%;
  margin:0 auto;
  color: #A4A4A4;
}
.footer>hr{
  margin: 20px auto;
  width: 90%;
  border-top: 1px solid #EFEFEF;
}
.social-icons > i{
  margin: 10px 5px;
  border-radius: 50%;
  padding: 5px;
  color: #fff;
  background-color: #C4C4C4;
}
.footer-p2{
  margin-top: 30px;
  color: #A4A4A4;
}
@media screen and (max-width:450px){
  .footer{
    padding: 30px 10px;
  }
}