<<<<<<< HEAD
#team {
  margin-top: 30px;
  margin-bottom: 100px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.icon-back {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  color: white;
  background-color: #b6b3b3;
  position: absolute;
  left: 85%;
  top: 2%;
}
.icon {
  padding: 3px;
  height: 50px;
}
.row {
  margin: 0px 10px;
  background: white;
  padding: 0 10px;
}

.col-md-4 {
  text-align: center;
  margin: 20px 50px;
  padding: 20px 20px;
}

.col-md-12 {
  padding: 20px 20px;
}
.col-md-12:hover {
  border-radius: 10px;
  border: 2px solid #99dbfe;
}

section img {
  max-height: 250px;
  border-radius: 100%;
}

h4 {
  font-size: 22px;
  color: #003e6b;
  margin-top: 10px;
}

p {
  font-size: 18px;
  color: #636363;
  margin: 0;
}

header {
  min-height: 100vh;
  position: relative;
}

header img {
  position: absolute;
  right: 0;
  max-height: 100vh;
}

.text {
  position: absolute;
  max-width: 500px;
  left: 50px;
  top: 25%;
  z-index: 5;
}

.text h1 {
  font-size: 48px;
  margin-bottom: 1em;
}

/* #hamburger {
=======
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.row {
	margin: 0;
	background: #eee;
	padding: 50px 20px;
}

.col-md-4 {
	text-align: center;
	margin: 20px 0;
}

.col-md-12 {
	padding: 20px 10px;
	border-radius: 10px;
	border: 2px solid #99dbfe;
}

section img {
	max-height: 250px;
	border-radius: 100%;
}

h4 {
	font-size: 22px;
	color: #003E6B;
	margin-top: 10px;
}

p {
	font-size: 18px;
	color: #636363;
	margin: 0;
}

header {
	min-height: 100vh;
	position: relative;
}

header img {
	position: absolute;
	right: 0;
	max-height: 100vh;
}

.text {
	position: absolute;
	max-width: 500px;
	left: 50px;
	top: 25%;
	z-index: 5;
}

.text h1 {
	font-size: 48px;
	margin-bottom: 1em;
}

#hamburger {
>>>>>>> parent of bad6baf... test added
	height: 60px;
	width: 60px;
	border-radius: 100%;
	position: absolute;
	top: 50px;
	right: 50px;
	z-index: 10;
	background: #55AAD6;
<<<<<<< HEAD
}*/

/**********************************************footer************************************************/
footer {
  background: #e5e5e5;
  padding: 50px 20px 20px;
  text-align: center;
}

footer p {
  font-size: 16px;
  color: #a4a4a4;
  max-width: 1000px;
  margin: 10px auto 20px;
}

.social-links div {
  font-size: 20px;
  margin: 20px 10px;
  background: #aaa;
  border-radius: 100%;
  position: relative;
  height: 35px;
  width: 35px;
  display: inline-block;
}

.social-links i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
}
/* ********************************************navbar************************************************** */
.navigation_checkbox {
  display: none;
}

.navigation_button {
  background-color: #b4e1fa;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: 4rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
@media (max-width: 56.25em) {
  .navigation_button {
    top: 4rem;
    right: 4rem;
  }
}
@media (max-width: 37.5em) {
  .navigation_button {
    top: 3rem;
    right: 3rem;
  }
}

.navigation_background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  right: 4.5rem;
  background-image: radial-gradient(#007cba, #0274be);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media (max-width: 56.25em) {
  .navigation_background {
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media (max-width: 37.5em) {
  .navigation_background {
    top: 3.5rem;
    right: 3.5rem;
  }
}

.navigation_nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation_item {
  margin: 1rem;
  overflow: hidden;
=======
}

footer {
	background: #e5e5e5;
	padding: 50px 20px 20px;
	text-align: center;
}

footer p {
	font-size: 16px;
	color: #a4a4a4;
	max-width: 1000px;
	margin: 10px auto 20px;
}

.social-links div {
	font-size: 20px;
	margin: 20px 10px;
	background: #aaa;
	border-radius: 100%;
	position: relative;
	height: 35px;
	width: 35px;
	display: inline-block;
}

.social-links i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #eee;
}

.navigation_checkbox {
	display: none;
}

.navigation_button {
	background-color: #fff;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	position: absolute;
	top: 4rem;
	right: 6rem;
	z-index: 2000;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
	text-align: center;
	cursor: pointer;
}

@media (max-width: 56.25em) {
	.navigation_button {
		top: 4rem;
		right: 4rem;
	}
}

@media (max-width: 37.5em) {
	.navigation_button {
		top: 3rem;
		right: 3rem;
	}
}

.navigation_background {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	position: absolute;
	top: 4.5rem;
	right: 6.5rem;
	background-image: radial-gradient(#007cba, #0274be);
	z-index: 1000;
	transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

@media (max-width: 56.25em) {
	.navigation_background {
		top: 4.5rem;
		right: 4.5rem;
	}
}

@media (max-width: 37.5em) {
	.navigation_background {
		top: 3.5rem;
		right: 3.5rem;
	}
}

.navigation_nav {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1500;
	opacity: 0;
	width: 0;
	transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation_list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
	width: 100%;
}

.navigation_item {
	margin: 1rem;
	overflow: hidden;
>>>>>>> parent of bad6baf... test added
}

.navigation_link:link,
.navigation_link:visited {
<<<<<<< HEAD
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  padding: 1rem 2rem;
  background-size: 220%;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  transition: all 0.4s;
}
.navigation_link:link span,
.navigation_link:visited span {
  display: inline-block;
  margin-right: 1.5rem;
=======
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: 300;
	padding: 1rem 2rem;
	background-size: 220%;
	background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
	transition: all .4s;
}

.navigation_link:link span,
.navigation_link:visited span {
	display: inline-block;
	margin-right: 1.5rem;
>>>>>>> parent of bad6baf... test added
}

.navigation_link:hover,
.navigation_link:active {
<<<<<<< HEAD
  transform: translateX(1rem);
  color: #0274be;
  background-position: 100%;
}
@media (max-width: 56.25em) {
  .navigation_link:link,
  .navigation_link:visited {
    font-size: 2.5rem;
  }
}
@media (max-width: 37.5em) {
  .navigation_link:link,
  .navigation_link:visited {
    font-size: 2rem;
  }
}
.navigation_checkbox:checked ~ .navigation_background {
  transform: scale(80);
}

.navigation_checkbox:checked ~ .navigation_nav {
  opacity: 1;
  width: 100%;
}

.navigation_icon {
  position: relative;
  margin-top: 2rem;
  color: #55aad6;
}
.navigation_icon,
.navigation_icon::before,
.navigation_icon::after {
  height: 4px;
  width: 2rem;
  display: inline-block;
  background-color: #55aad6;
  border-radius: 2px;
}
.navigation_icon::after,
.navigation_icon::before {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation_icon::before {
  top: -0.6rem;
}
.navigation_icon::after {
  top: 0.6rem;
}

.navigation_button:hover .navigation_icon::before {
  top: -0.7rem;
}

.navigation_button:hover .navigation_icon::after {
  top: 0.7rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  top: 0;
  transform: rotate(-135deg);
}
=======
	transform: translateX(1rem);
	color: #0274be;
	background-position: 100%;
}

.navigation_checkbox:checked ~ .navigation_background {
	transform: scale(80);
	position: fixed;
}

.navigation_checkbox:checked ~ .navigation_button {
	position: fixed;
}

.navigation_checkbox:checked ~ .navigation_nav {
	opacity: 1;
	width: 100%;
}

.navigation_icon {
	position: relative;
	margin-top: 2.5rem;
}

.navigation_icon,
.navigation_icon::before,
.navigation_icon::after {
	height: 2px;
	width: 2.5rem;
	display: inline-block;
	background-color: #333;
}

.navigation_icon::after,
.navigation_icon::before {
	content: "";
	position: absolute;
	left: 0;
	transition: all .2s;
}

.navigation_icon::before {
	top: -.8rem;
}

.navigation_icon::after {
	top: .8rem;
}

.navigation_button:hover .navigation_icon::before {
	top: -1rem;
}

.navigation_button:hover .navigation_icon::after {
	top: 1rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon {
	background-color: transparent;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
	top: 0;
	transform: rotate(135deg);
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
	top: 0;
	transform: rotate(-135deg);
}
>>>>>>> parent of bad6baf... test added
