:root {
    --primary : #99dbfe;
}


#team {
    margin-top: 30px;
    margin-bottom: 100px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }
  .icon-back {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    color: white;
    background-color: #b6b3b3;
    position: absolute;
    left: 80%;
    top: 2%;
  }
  .icon {
    padding: 3px;
    height: 50px;
  }
  .row {
    margin: 0 10px;
    background: white;
    padding: 0 10px;
  }
  
  .col-md-4 {
    text-align: center;
    margin: auto;
    padding: 2rem 4rem;
  }
  
  .col-md-12 {
    padding: 2rem;
  }
  
  .one:hover {
    border-radius: 10px;
    border: 2px solid #99dbfe;
  }
  
  section img {
    max-height: 150px;
    border-radius: 100%;
  }
  
  h4 {
    font-size: 22px;
    color: #003e6b;
    margin-top: 10px;
  }
  
  p {
    font-size: 18px;
    color: #636363;
    margin: 0;
  }
  
  header {
    min-height: 100vh;
    position: relative;
  }
  
  header img {
    position: absolute;
    right: 0;
    max-height: 100vh;
  }
  
  .text {
    position: absolute;
    max-width: 500px;
    left: 50px;
    top: 25%;
    z-index: 5;
  }
  
  .text h1 {
    font-size: 48px;
    margin-bottom: 1em;
  }
  
  /* #hamburger {
      height: 60px;
      width: 60px;
      border-radius: 100%;
      position: absolute;
      top: 50px;
      right: 50px;
      z-index: 10;
      background: #55AAD6;
  }*/
  
  /**********************************************footer************************************************/
  footer {
    background: #e5e5e5;
    padding: 50px 20px 20px;
    text-align: center;
  }
  
  footer p {
    font-size: 16px;
    color: #a4a4a4;
    max-width: 1000px;
    margin: 10px auto 20px;
  }
  
  .social-links div {
    font-size: 20px;
    margin: 20px 10px;
    background: #aaa;
    border-radius: 100%;
    position: relative;
    height: 35px;
    width: 35px;
    display: inline-block;
  }
  
  .social-links i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
  }
  /* ********************************************navbar************************************************** */
  .navigation_checkbox {
	display: none; }
  
  .navigation_button {
	background-color: #B4E1FA;
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	position: fixed;
	top: 3rem;
	right: 4rem;
	z-index: 2000;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
	text-align: center;
	cursor: pointer; }
	@media (max-width: 56.25em) {
	  .navigation_button {
		top: 4rem;
		right: 4rem; } }
	@media (max-width: 37.5em) {
	  .navigation_button {
		top: 3rem;
		right: 3rem; } }
  
  .navigation_background {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	position: fixed;
	top: 4rem;
	right: 4.5rem;
	background-image: radial-gradient(#007cba, #0274be);
	z-index: 1000;
	transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
	@media (max-width: 56.25em) {
	  .navigation_background {
		top: 4.5rem;
		right: 4.5rem; } }
	@media (max-width: 37.5em) {
	  .navigation_background {
		top: 3.5rem;
		right: 3.5rem; } }
  
  .navigation_nav {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1500;
	opacity: 0;
	width: 0;
	transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  
  .navigation_list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
	width: 100%; }
  
  .navigation_item {
	margin: 1rem;
	overflow: hidden;
  }
  
  .navigation_link:link, .navigation_link:visited {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: 300;
	padding: 1rem 2rem;
	background-size: 220%;
	background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
	transition: all .4s; }
	.navigation_link:link span, .navigation_link:visited span {
	  display: inline-block;
	  margin-right: 1.5rem; }
  
  .navigation_link:hover, .navigation_link:active {
	transform: translateX(1rem);
	color: #0274be;
	background-position: 100%;
  }
  @media (max-width: 56.25em) {
   .navigation_link:link, .navigation_link:visited{
		font-size: 2.5rem;
	  } }
	@media (max-width: 37.5em) {
	 .navigation_link:link, .navigation_link:visited  {
	   font-size: 2rem; }}
  .navigation_checkbox:checked ~ .navigation_background {
	transform: scale(80); }
  
  .navigation_checkbox:checked ~ .navigation_nav {
	opacity: 1;
	width: 100%;
  }
  
  .navigation_icon {
	position: relative;
	margin-top: 2rem;
	color:#55AAD6;
  }
	.navigation_icon, .navigation_icon::before, .navigation_icon::after {
	  height: 2px;
	  width: 2rem;
	  display: inline-block;
	  background-color: #333; }
	.navigation_icon::after, .navigation_icon::before {
	  content: "";
	  position: absolute;
	  left: 0;
	  transition: all .2s; }
	.navigation_icon::before {
	  top: -.6rem; }
	.navigation_icon::after {
	  top: .6rem; }
  
  .navigation_button:hover .navigation_icon::before {
	top: -.7rem; }
  
  .navigation_button:hover .navigation_icon::after {
	top: .7rem; }
  
  .navigation_checkbox:checked + .navigation_button .navigation_icon {
	background-color: transparent; }
  
  .navigation_checkbox:checked + .navigation_button .navigation_icon::before {
	top: 0;
	transform: rotate(135deg);
  }
  
  .navigation_checkbox:checked + .navigation_button .navigation_icon::after {
	top: 0;
	transform: rotate(-135deg); }


    
  
  
	
 

/* Profile Cards */
.parentContainer {
    display: flex;
    flex-direction : column;
    align-items : center;
  }
  .basis-member.staff {
    padding: 4rem 0;
    font-family: 'Raleway', sans-serif;
  }
  #cardRow {
    display: flex;
    flex-wrap : wrap;
    justify-content: baseline;
  }
  
  .basis-member.staff .member-box {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    border-bottom: 5px solid var(--primary);

    width : 255px;
   
  }
  .basis-member.staff .member-box .card-body {
    position: relative;
    height: 150px
    
  }

  .card-body > h4 {
    color : #003e6b;
    text-align: center;
    margin-top : 10px;
  }
  .card-body > p {
    text-align: center;
    margin-top: -10px;
  }
  .card {
    margin : 20px 10px !important;
  }
  
  .container {
    display: flex !important;
    flex-wrap : wrap;
    justify-content : flex-start !important;
  }
 
  .member-degignation-special{
    font-size :0.8rem !important; 
  }

  .span-wrap {
      filter : drop-shadow(-1px 3px 3px rgba(50,50,0,0.5));
  }
  .basis-member.staff .member-box .Lshape1 {
    clip-path: polygon(0 0,100% 0, 100% 50%, 50% 100%,0 50%);
    width: 280px;
    height: 220px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    top : -55px;
    right: 99px;
     
   
  }
  .basis-member.staff .member-box .Lshape2 {
    clip-path: polygon(0 0,100% 0, 100% 50%, 50% 100%,0 50%);
    width: 240px;
    height: 200px;
    background: var(--primary);
    opacity:1;
    position: absolute;
    top : -100px;
    right:119px;
   
  }
  
  .basis-member.staff .member-box .Lshape3 {
    clip-path: polygon(0 0,100% 0, 100% 50%, 50% 100%,0 50%);
    width: 240px;
    height: 200px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    top: -140px;
    right:119px;
   
  
  
  }
  .basis-member.staff .member-box .shape1 {
    clip-path: polygon(0 0,100% 0, 100% 50%, 50% 100%,0 50%);
    width: 280px;
    height: 220px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    top: -55px;
    right: -124px;
     
   
  }
  .basis-member.staff .member-box .shape2 {
    clip-path: polygon(0 0,100% 0, 100% 50%, 50% 100%,0 50%);
    width: 240px;
    height: 200px;
    background: var(--primary);
    opacity:1;
    position: absolute;
    top: -100px;
    right:-104px;
   
  }
  
  .basis-member.staff .member-box .shape3 {
    clip-path: polygon(0 0,100% 0, 100% 50%, 50% 100%,0 50%);
    width: 240px;
    height: 200px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    top: -140px;
    right:-104px;
   
  
  
  }
  
  .basis-member.staff .member-box .shape5 {
    width: 223px;
    height: 340px;
    opacity: 0.5;
    position: absolute;
    margin-left : 14px;
    top : -105px;
    border-left : 1.5px solid rgba(0, 0, 0, 0.5);
    box-shadow : 1px 3px 3px black;
    border-radius : 12px;
  }
 
  
  
  
  .basis-member.staff .member-box .shape9 {
    width: 253px;
    height: 310px;
    opacity: 0.5;
    position: absolute;
    border-right : 4px solid var(--primary);
    border-left : 4px solid var(--primary);
    border-radius : 12px;
  }
  
  .basis-member.staff .member-box .shape10 {
    width: 140px;
    height: 140px;
    opacity: 1;
    position: absolute;
    border-radius : 12px;
    top : 254px;
    left : 15px;
    cursor: pointer;
    z-index : 1;
  }
  
  .basis-member.staff .member-box .shape10 > a > i {
    padding : 4px;
    box-shadow: 2px 2px 4px 1px var(--primary);
    border-radius : 12px;
    color : #333333 !important;
  }
  .basis-member.staff .member-box .shape11 > a > i {
    padding : 4px ;
    box-shadow: 2px 2px 4px 1px var(--primary);
    border-radius : 12px;
    color : #333333 !important;
  }
  
  .basis-member.staff .member-box .shape10 > a > i:hover {
    box-shadow: 0.5px 0.5px 2px 1px var(--primary);
    transform: scale(0.98); 
    border-radius : 12px;
    color : #333333 !important;
  }
  .basis-member.staff .member-box .shape11 {
    width: 140px;
    height: 140px;
    opacity: 1;
    position: absolute;
    border-radius : 12px;
    cursor: pointer;
    top : 254px;
    left :200px;
    z-index : 1;
  }
  
  .basis-member.staff .member-box .shape11 > a > i:hover {
    box-shadow: 0.5px 0.5px 2px 1px var(--primary);
    transform: scale(0.98); 
    border-radius : 12px;
  }
  
  .basis-member.staff .member-box .shape15 {
    clip-path: polygon(0 10%,10% 0,100% 0,100% 100%,10% 100%,0 80%);
    width : 300px;
    height: 62px;
    background: var(--primary);
  
    opacity: 1;
    position: absolute;
    top : 95px;
    left: 182px;
    
    
   
  }

  .basis-member.staff .member-box .shape16 {
    clip-path: polygon(0 10%,10% 0,100% 0,100% 100%,10% 100%,0 80%);
    width : 300px;
    height: 62px;
    background: var(--primary);
    transform: rotateY(180deg);
    opacity: 1;
    position: absolute;
    top : 95px;
    left: -229px;
  }
  
  
  
  .basis-member.staff .member-box .card-img-top {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left : 52px;
    top : -5px;
    border-bottom: 5px solid var(--primary);
   
  }
  
  .basis-member.staff .member-box .member-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.025em;
  }