@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
	overflow-x: hidden;
}
html {
	font-size: 62.5%;
}
@media (max-width: 75em) {
	html {
		font-size: 56.25%;
	}
}
@media (max-width: 56.25em) {
	html {
		font-size: 50%;
	}
}
body {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

#header > div > h1 {
	text-transform: uppercase;
	font-size: 4.8rem;
	font-weight: 700;
	margin-bottom: 4rem;
}

#header {
	margin-top: 18rem;
}

@media (max-width: 991px) {
	#header > div > img {
		margin-top: 70px;
	}
}
.about-content {
	font-size: 1.8rem;
	font-weight: 500;
}
.acm-life {
	margin-top: 3%;
	margin-bottom: 10rem;
}

#method {
	margin: 15rem 0;
}

.method-heading {
	color: #003e6b;
	text-transform: uppercase;
	font-size: 2.5rem;
	position: relative;
	margin-left: 5rem;
	font-weight: 700;
	font-size: 2.4rem;
}
.method-heading-line {
	position: absolute;
	transform: translate(-100%, -50%);
	left: -5px;
	top: 50%;
	width: 10rem;
	height: 3px;
	background-color: #55aad6;
}
.method {
	margin-top: 8rem;
	display: flex;
	align-content: center;
}
.method:not(:last-child) {
	margin-bottom: 8rem;
}
.method-image img {
	margin: 0 auto;
	width: 25rem;
}
.method-content {
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.method-content h2 {
	font-size: 2.4rem;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
}
.method-content p {
	font-size: 1.8rem;
	font-weight: 400;
}

.life-heading {
	font-family: Roboto;

	font-weight: 700;
	font-size: 2.8rem;

	color: #003e6b;
	margin-right: 5px;
	margin-top: 2%;
}
.life-head {
	margin: 3% 0%;
	height: 50px;
	float: right;
	margin-right: 12rem;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 1.8rem;
	line-height: 2rem;
	color: #003e6b;
	text-align: right;
}
.life-hline {
	background-color: #55aad6;
	height: 3px;
	width: 7rem;
	position: absolute;
	right: 4.5rem;
	z-index: 2;
	transform: translate(0%, 300%);
}
.div1 {
	margin-top: 9%;
}

.description {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 21px;
	letter-spacing: 0.05em;
	text-transform: capitalize;

	color: #3e3e3e;
}
.number {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 9.2rem;
	line-height: 108px;

	letter-spacing: 0.05em;
	text-transform: capitalize;

	color: #000000;
	text-align: center;
	margin-bottom: 3rem;
}
.type {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 6.4rem;
	line-height: 75px;
	/* identical to box height */

	letter-spacing: 0.05em;
	text-transform: capitalize;

	color: #000000;
	text-align: center;
	margin-top: -40px;
}

.center {
	margin-top: 15%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
@media only screen and (max-width: 300px) {
	.type {
		font-size: 2.25rem;
	}
	.number {
		font-size: 4rem;
	}
}

.text {
	padding: 2%;
}
.event-image {
	width: 100%;
}
@media only screen and (max-width: 990px) {
	.event-image {
		width: 60%;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 763px) {
	body {
		padding: 0 10px;
	}
	.text {
		padding: 4%;
	}
	.event-image {
		width: 95%;
	}
	.number {
		font-size: 6.2rem;
	}
	.type {
		font-size: 4.2rem;
	}
	#header > div > h1 {
		text-align: center;
		margin-bottom: 4rem;
	}
	#header {
		margin-top: 12rem;
	}
	p {
		text-align: justify;
	}
	.method {
		flex-direction: column-reverse;
	}
	.method-image img {
		width: 20rem;
		display: block;
		margin: 0 auto;
	}
	.method-content {
		margin-bottom: 20px;
	}
	.life-head {
		margin-right: 5rem;
	}
	.life-hline {
		right: -1rem;
		margin-top: -3px;
	}
}
@media only screen and (max-width: 380px) {
	.center {
		margin-top: 10%;
	}
}
footer {
	font-size: 2rem;
}
